/* .body {
    flex: 1;
   
}

.body-div {
    height: 200px;
    background: 
      linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)),
      url('https://static.vecteezy.com/system/resources/previews/006/240/302/non_2x/abstract-soft-focus-sunset-field-landscape-of-yellow-flowers-and-grass-meadow-warm-golden-hour-sunset-sunrise-time-tranquil-spring-summer-nature-closeup-and-blurred-forest-background-idyllic-nature-photo.jpg') no-repeat center/cover;
    z-index: 1454;
    opacity: 1;
  }
  

.overlay-section {
    margin-top: -120px; /* Adjust this value based on how much overlap you want */
    /* padding: 20em;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    position: relative; */
     /* Adjust opacity to achieve fade effect */
/* } */

/* section {
    padding: 10em;
    background-color: antiquewhite;
} */

/* article,
section {
    padding: 20em;
    background-color: rgb(245, 248, 255);
/* } */ 
